In [77]:
import pandas as pd
import os
import re
file_path="C:\\Users\\bedlamini\\Documents\\VAT Schedules\\RES Files\\NEW RES -ERS Sales Purchase VAT MSCO.xlsx"
df=pd.read_excel(file_path,sheet_name=["INPUT TAX","OUTPUT_TAX"], header=0)

input_df=df.get("INPUT TAX")
output_df=df.get("OUTPUT_TAX")
input_df['index_column']=input_df.index
output_df['index_column']=output_df.index

In [78]:
output_df.shape

(3416, 12)

In [79]:
output_df_pv=output_df.pivot(index=['index_column','Document Date','Customer Name','Customer VAT Registration Number','Reference','Tax BaseAmount'], 
     columns='Tax Code Description',values=['Tax Amount']).stack(level=0).reset_index()
output_df_pv.head(10)

Tax Code Description,index_column,Document Date,Customer Name,Customer VAT Registration Number,Reference,Tax BaseAmount,level_6,0% Output Tax,15% Output VAT,Output Tax Exempt
0,0,20230403.0,ESA - Main General,100102950,0090445443,3569.75,Tax Amount,0.0,NaN,NaN
1,1,20230413.0,ESA - Main General,100102950,0090445444,1165.65,Tax Amount,0.0,NaN,NaN
2,2,20230414.0,ESA - Main General,100102950,0090445445,2213.69,Tax Amount,0.0,NaN,NaN
3,3,20230418.0,ESA - Main General,100102950,0090445446,3405.96,Tax Amount,0.0,NaN,NaN
4,4,20230424.0,ESA - Main General,100102950,0090445447,1882.63,Tax Amount,0.0,NaN,NaN
5,5,20230623.0,Mananga Sugar Packers (Pty) Ltd,##,0090451622,28803.60,Tax Amount,0.0,NaN,NaN
6,6,20230624.0,Mananga Sugar Packers (Pty) Ltd,##,0090451624,28803.60,Tax Amount,0.0,NaN,NaN
7,7,20230625.0,Mananga Sugar Packers (Pty) Ltd,##,0090451625,9601.20,Tax Amount,0.0,NaN,NaN
8,8,20230626.0,Mananga Sugar Packers (Pty) Ltd,##,0090451626,4843.28,Tax Amount,0.0,NaN,NaN
9,9,20230627.0,Mananga Sugar Packers (Pty) Ltd,##,0090451627,10887.85,Tax Amount,0.0,NaN,NaN

In [80]:
output_df_pv=output_df_pv.assign(zeroexports='',Adjustment='',Adjustmentother='',DescriptionGood='')
output_df_pv = output_df_pv.fillna(value=0)
output_df_pv['VAT']=output_df_pv['0% Output Tax'] + output_df_pv['15% Output VAT']
output_df_pv.head(5)

Tax Code Description,index_column,Document Date,Customer Name,Customer VAT Registration Number,Reference,Tax BaseAmount,level_6,0% Output Tax,15% Output VAT,Output Tax Exempt,zeroexports,Adjustment,Adjustmentother,DescriptionGood,VAT
0,0,20230403.0,ESA - Main General,100102950,0090445443,3569.75,Tax Amount,0.0,0.0,0.0,,,,,0.0
1,1,20230413.0,ESA - Main General,100102950,0090445444,1165.65,Tax Amount,0.0,0.0,0.0,,,,,0.0
2,2,20230414.0,ESA - Main General,100102950,0090445445,2213.69,Tax Amount,0.0,0.0,0.0,,,,,0.0
3,3,20230418.0,ESA - Main General,100102950,0090445446,3405.96,Tax Amount,0.0,0.0,0.0,,,,,0.0
4,4,20230424.0,ESA - Main General,100102950,0090445447,1882.63,Tax Amount,0.0,0.0,0.0,,,,,0.0

In [81]:
column_order=['Document Date','Customer VAT Registration Number','Customer Name','Reference','DescriptionGood','Output Tax Exempt','zeroexports','0% Output Tax','15% Output VAT','Adjustment','Adjustmentother','VAT','Tax BaseAmount']
df=output_df_pv.reindex(column_order,axis=1)
df.head(2)

Tax Code Description,Document Date,Customer VAT Registration Number,Customer Name,Reference,DescriptionGood,Output Tax Exempt,zeroexports,0% Output Tax,15% Output VAT,Adjustment,Adjustmentother,VAT,Tax BaseAmount
0,20230403.0,100102950,ESA - Main General,0090445443,,0.0,,0.0,0.0,,,0.0,3569.75
1,20230413.0,100102950,ESA - Main General,0090445444,,0.0,,0.0,0.0,,,0.0,1165.65

In [82]:
df.head(10)

Tax Code Description,Document Date,Customer VAT Registration Number,Customer Name,Reference,DescriptionGood,Output Tax Exempt,zeroexports,0% Output Tax,15% Output VAT,Adjustment,Adjustmentother,VAT,Tax BaseAmount
0,20230403.0,100102950,ESA - Main General,0090445443,,0.0,,0.0,0.0,,,0.0,3569.75
1,20230413.0,100102950,ESA - Main General,0090445444,,0.0,,0.0,0.0,,,0.0,1165.65
2,20230414.0,100102950,ESA - Main General,0090445445,,0.0,,0.0,0.0,,,0.0,2213.69
3,20230418.0,100102950,ESA - Main General,0090445446,,0.0,,0.0,0.0,,,0.0,3405.96
4,20230424.0,100102950,ESA - Main General,0090445447,,0.0,,0.0,0.0,,,0.0,1882.63
5,20230623.0,##,Mananga Sugar Packers (Pty) Ltd,0090451622,,0.0,,0.0,0.0,,,0.0,28803.60
6,20230624.0,##,Mananga Sugar Packers (Pty) Ltd,0090451624,,0.0,,0.0,0.0,,,0.0,28803.60
7,20230625.0,##,Mananga Sugar Packers (Pty) Ltd,0090451625,,0.0,,0.0,0.0,,,0.0,9601.20
8,20230626.0,##,Mananga Sugar Packers (Pty) Ltd,0090451626,,0.0,,0.0,0.0,,,0.0,4843.28
9,20230627.0,##,Mananga Sugar Packers (Pty) Ltd,0090451627,,0.0,,0.0,0.0,,,0.0,10887.85

In [83]:
with pd.ExcelWriter('C:\\Users\\bedlamini\\Documents\\VAT Schedules\\RES Files\\New VAT Schedule___Updated.xlsx',engine='openpyxl',mode='a',if_sheet_exists='overlay') as writer:
    df.to_excel(writer,sheet_name='VAT schedule form--output tab',startrow=2,header=False,index=False)